
/*
===================================
=
= Themebeez Widgets styling
=
================================================
*/

.widgets-holder-wrap [id*="_fascinate"] .widget-top {

    background: #424242;
    box-shadow: none !important;
    border: none !important;
}

.widgets-holder-wrap [id*="_fascinate"] h3 {

	color: #ffffff !important;
	font-weight: 500;
	letter-spacing: 0.15px;
}

.widgets-holder-wrap [id*="_fascinate"] h3 span.in-widget-title {

	color:#b1b1b1 !important;
}